<% var fullStars = Math.floor(item.ratings) %>
<% var fillPercent = Math.floor((item.ratings - fullStars) * 100) %>
<% var fillPixels = Math.floor((18 / 100) * fillPercent) %>

<% var index = 0 %>
<div class="star">
    <span id='fillPixels'><%=fillPixels%></span>
    <% if (fullStars == 5) { %>
        <img src="/images/star.png">
        <img src="/images/star.png">
        <img src="/images/star.png">
        <img src="/images/star.png">
        <img src="/images/star.png">
    <% } else { %>
        <% while (index < fullStars) { %>
            <img src="/images/star.png">
            <% index = index + 1 %>
        <% } %>
        <div class="partialStar" >
            <img src="/images/star.png">
        </div>
        <img src="/images/emptyStar.png">
        <% index = index + 1 %>
        <% while (index < 5) { %>
            <img src="/images/emptyStar.png">
            <% index = index + 1 %>
        <% } %>
        <script> 
            var partialStar = document.getElementsByClassName('partialStar')[0]
            var pixels = document.getElementById('fillPixels')
            partialStar.style.width = pixels.innerHTML + 'px'
        </script>
    <% } %>
</div>

