<header>
    <h1>NomNom</h1>
    <nav>
        <span><a href="/">Home</a></span>
        <span><a href="/food">Food</a></span>
        <span><a href="/category">Category</a></span>
        <span><a href="/new">New Discovery</a></span>
    </nav>
</header>