<header class="navHead">
    <h1 class='title'>NomNom</h1>
    <nav class="navElement">
        <span><a href="/">Home</a></span>
        <span><a href="/food">Food</a></span>
        <span><a href="/category">Category</a></span>
        <span><a href="/new">New Discovery</a></span>
    </nav>
</header>