<div class="northArea region">
    <div class="regionHeader">
        North
    </div>
    <div class="locationSectors">
        <div class="searchOptionElement">
            <input type="checkbox" id="location25" name="location" value="[72, 73]">
            <label for="location25">Kranji</label>
        </div>
        <div class="searchOptionElement">
            <input type="checkbox" id="location27" name="location" value="[75, 76]">
            <label for="location27">Yishun/Sembawang</label>
        </div>
        <div class="searchOptionElement">
            <input type="checkbox" id="location28" name="location" value="[79, 80]">
            <label for="location28">Seletar</label>
        </div>
        <div class="searchOptionElement">
            <input type="checkbox" id="location26" name="location" value="[77, 78]">
            <label for="location26">Upper Thomson</label>
        </div>
    </div>    
</div>

<div class="eastArea region">
    <div class="regionHeader">
        East
    </div>
    <div class="locationSectors">
        <div class="searchOptionElement">
            <input type="checkbox" id="location16" name="location" value="[46, 47, 48]">
            <label for="location16">Bedok</label>
        </div>
        <div class="searchOptionElement">
            <input type="checkbox" id="location15" name="location" value="[42, 43, 44, 45]">
            <label for="location15">Katong</label>
        </div>
        <div class="searchOptionElement">
            <input type="checkbox" id="location18" name="location" value="[51, 52]">
            <label for="location18">Tampines/Pasir Ris</label>
        </div>
        <div class="searchOptionElement">
            <input type="checkbox" id="location17" name="location" value="[49, 50, 81]">
            <label for="location17">Changi</label>
        </div>
        <div class="searchOptionElement">
            <input type="checkbox" id="location19" name="location" value="[53, 54, 55, 82]">
            <label for="location19">Hougang/Punggol</label>
        </div>
    </div>    
</div>

<div class="westArea region">
    <div class="regionHeader">
        West
    </div>
    <div class="locationSectors">
        <div class="searchOptionElement">
            <input type="checkbox" id="location22" name="location" value="[60, 61, 62, 63, 64]">
            <label for="location22">Jurong</label>
        </div>
        <div class="searchOptionElement">
            <input type="checkbox" id="location21" name="location" value="[58, 59]">
            <label for="location21">Clementi</label>
        </div>
        <div class="searchOptionElement">
            <input type="checkbox" id="location23" name="location" value="[65, 66, 67, 68]">
            <label for="location23">Choa Chu Kang</label>
        </div>
        <div class="searchOptionElement">
            <input type="checkbox" id="location24" name="location" value="[69, 70, 71]">
            <label for="location24">Tengah</label>
        </div>
    </div>
</div>


<div class="southArea region">
    <div class="regionHeader">
        South
    </div>
    <div class="locationSectors">
        <div class="searchOptionElement">
            <input type="checkbox" id="location3" name="location" value="[14, 15, 16]">
            <label for="location3">Queenstown</label>
        </div>
        <div class="searchOptionElement">
            <input type="checkbox" id="location4" name="location" value="[09, 10]">
            <label for="location4">Harbourfront</label>
        </div>
        <div class="searchOptionElement">
            <input type="checkbox" id="location9" name="location" value="[22, 23]">
            <label for="location9">Orchard</label>
        </div>
        <div class="searchOptionElement">
            <input type="checkbox" id="location10" name="location" value="[24, 25, 26 ,27]">
            <label for="location10">Bukit Timah</label>
        </div>
        <div class="searchOptionElement">
            <input type="checkbox" id="location2" name="location" value="[07, 08]">
            <label for="location2">	Tanjong Pagar</label>
        </div>
        <div class="searchOptionElement">
            <input type="checkbox" id="location5" name="location" value="[11, 12, 13]">
            <label for="location5">Pasir Panjang</label>
        </div>
        <div class="searchOptionElement">
            <input type="checkbox" id="location1" name="location" value="[01, 02, 03, 04, 05, 06]">
            <label for="location1">Raffles/Marina</label>
        </div>
        <div class="searchOptionElement">
            <input type="checkbox" id="location6" name="location" value="[17]">
            <label for="location6">Beach Road</label>
        </div>
        <div class="searchOptionElement">
            <input type="checkbox" id="location7" name="location" value="[18, 19]">
            <label for="location7">Middle Road</label>
        </div>
        <div class="searchOptionElement">
            <input type="checkbox" id="location8" name="location" value="[20, 21]">
            <label for="location8">Little India</label>
        </div>
    </div>
</div>


<div class="centralArea region">
    <div class="regionHeader">
        Central
    </div>
    <div class="locationSectors">
        <div class="searchOptionElement">
            <input type="checkbox" id="location12" name="location" value="[31, 32, 33]">
            <label for="location12">Toa Payoh/Serangoon</label>
        </div>
        <div class="searchOptionElement">
            <input type="checkbox" id="location11" name="location" value="[28, 29, 30]">
            <label for="location11">Novena/Thomson</label>
        </div>
        <div class="searchOptionElement">
            <input type="checkbox" id="location20" name="location" value="[56, 57]">
            <label for="location20">Bishan/Ang Mo Kio</label>
        </div>
        <div class="searchOptionElement">
            <input type="checkbox" id="location13" name="location" value="[34, 35, 36, 37]">
            <label for="location13">Macpherson/Braddell</label>
        </div>
        <div class="searchOptionElement">
            <input type="checkbox" id="location14" name="location" value="[38, 39, 40, 41]">
            <label for="location14">Geylang/Eunos</label>
        </div>
    </div>
</div>













