<% var allTypes = ['Buffet', 'Japanese', 'Chinese', 'Thai', 'Vietnamese', 'Western', 'Korean', 'Malay', 'Indian', 'Halal', 'Burgers', 'Hawker', 'Restaurant', 
'Desserts', 'Local Delights', 'Pasta', 'Mexican', 'Cafes', 'Unique'] %>
<% var index = 1 %>
<% allTypes.forEach(type => { %>
    <input 
    <% if (food.type.includes(type)){ %>
        checked 
    <% } %>
    type="checkbox" id="type<%=index%>" name="type" value="<%=type%>">
    <label for="type<%=index%>"><%=type%></label>
    <% index += 1 %>
<% }) %>