
<div class="indexHeader">Latest Noms</div>
<div class="flexContainer highlights">
    <% food.forEach(food => { %>
        <%- include('./partials/foodElementLink.ejs', {food: food})%>
    <% }) %>
</div>
<div class="indexHeader">Random Recommendations</div>
<div class="flexContainer randomRecommendation">
    <% randomRecommendation.forEach(recommendation => { %>
        <%- include('./partials/foodElementLink.ejs', {food: recommendation})%>
    <% }) %>
</div>
