<script defer src="/javascripts/new.js"></script>
<div class="newHeaderContainer">
    <span id="newFoodSpot">New Food Spot!</span>
    <span id="newShop">New Shop!</span>
</div>



<%- include('./form.ejs') %>