<script defer src="/javascripts/new.js"></script>
<div class="newLeftSide">
    <div class="newHeaderContainer">
        <span id="newFoodSpot">New Food!</span>
        <span id="newShop">New Shop!</span>
    </div>
    
    <%- include('./form.ejs') %>
</div>
