* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: inherit;
    font-size: inherit;
    text-decoration: inherit;
    color: inherit;
    z-index: inherit;
}

*:visited {
    color: rgb(33, 33, 33); 
}

@keyframes newTopDown {
    from {
        height: 0px;
    }
    
    to {
        height: 105px;
    }
}

@keyframes newBottomUp {
    from {
        height: 105px;
    }
    
    to {
        height: 0px;
    }
}

@keyframes bottomDownDisappear {
    from {
        opacity: 1;
        top: 0;
        display: block;
    }

    to {
        opacity: 0;
        top: 100px;
        display: none;
    }
}

@keyframes slideFromLeft {
    from {
        right: 500px;
    }

    to {
        right: 0px;
    }
}

@keyframes slideFromRight {
    from {
        right: 0px;
    }

    to {
        right: 500px;
    }
}

.star img {
    height: 18px;
    width: 18px;
}

.partialStar {
    display: inline-block;
    position: absolute;
    overflow: hidden;
}

.fillPixels {
    display: none;
}

button:hover {
    cursor: pointer;
}

.title {
    font-size: 2.3rem;
}

body {
    color: rgb(33, 33, 33); 
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

.mainBackground {
    background: url('images/whiteWallpaper.jpg');
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: color;
}


/* Nav Bar */

.navContainer {
    width: 100%;
    border-bottom: 1px solid rgba(65, 65, 65, 0.384);
    background-color: rgb(250, 250, 250)
}

.navHead {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1% 0px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.navElement {
    flex-grow: 1;
    text-align: right;
    font-size: 1.3rem;
}

.navElement a:hover {
    text-decoration: underline;
}

.navElement span {
    margin-right: 2%;
}

.navElement span a {
    text-decoration: none;
}

.navElement span:last-child {
    margin-right: 0px;
}

.headerUnderline {
    padding-top: 1%;
    width: 70px;
    border-bottom: 4px solid rgb(27, 182, 135);
    margin: auto;
}

/* Main Content */

.mainContent {
    padding-top: 2%;
    width: 70%;
    margin: auto;
}

.buttonContainer {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

.button {
    width: 110px;
    text-align: center;
    padding: 10px 20px;
    border: 2px solid black;
    font-weight: bold;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.07);
}

/* Index Page */

.flexContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.indexHeader {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
}

/* All Foods Page */

.contentHead {
    height: 250px;
    line-height: 250px;
    width: 100%;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.4);
    background-blend-mode: color;
    background-image: url('./images/banner.jpg');
    background-size: cover;
    color: white;
    font-size: 2.6rem;
    font-family: 'Raleway', sans-serif;
}

.searchBar {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.searchOption {
    border: 1px solid rgb(179, 179, 179);
    flex-grow: 1;
    flex-basis: 23%;
    height: 40px;
    line-height: 40px;
    background-color: white;
}

.searchOptionText {
    display: flex;
    height: 40px;
    padding-left: 2%;
}

.searchOptionText input {
    width: 100%;
    outline: none;
}

.searchOptionToggle {
    display: flex;
    height: 40px;
    padding-left: 2%;
}

.shiftImageToRight {
    flex-grow: 4;
    text-align: right;

}

.searchOptionToggle img {
    width: auto;
    height: 8px;
    padding-right: 20px;
}

.searchButton {
    background-color: rgba(27, 182, 135, 0.925);
    flex-grow: 2;
}

.searchOption:hover {
    cursor: pointer;
}

.searchOption label:hover {
    cursor:pointer;
}

.searchOptionElements {
    display: none;
    flex-wrap: wrap;
    position: relative;
    bottom: 8px;
    border: 1px solid rgba(114, 114, 114, 0.3);
    z-index: 3;
    background-color: white;
    padding: 8px 6px;
    width: 95%;
    margin: auto;
    justify-content: flex-start;
}

.searchOptionElement {
    display: block;
    padding: 0px 5px;
    font-weight: bold;
    font-size: 0.8rem;
}

.locationSectors {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.regionHeader {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

/* Food Content */

.allFoodContent {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.foodContentElement {
    text-decoration: none;
    margin: 20px 40px;
}

.foodContentText {
    position: absolute;
    display: flex;
    width: 200px;
    height: 200px;
    text-align: center;
    justify-content: center;
    color: rgb(104, 241, 200);
    font-weight: bold;
    border-radius: 50%;
    transition: 0.4s;
    flex-wrap: wrap;
}

.foodContentText span {
    margin: auto;
}

.foodContentImage img {
    position: relative;
    border-radius: 50%;
    transition: 0.4s;
    z-index: 1;
}

.foodContentElement:hover .foodContentImage img {
    border-radius: 0%;
}

.foodContentElement:hover .foodContentText {    
    z-index: 2;
    border-radius: 0%;    
    background-color: rgba(43, 43, 43, 0.7);    
}

.foodContentName {
    font-weight: bold;
    font-size: 1.2rem;
}

.foodContentShopName {
    display: flex;
    flex-wrap: wrap;
}

.foodContentShopName span {
    color: rgba(22, 173, 128, 0.925);
    font-weight: bold;
}

.foodContentRow {
    display: flex;
    align-items: center;
    width:200px;
    flex-wrap: wrap;
    margin-top: 2px;
}

.foodContentRatings {
    flex-grow: 1;
    text-align: right;
}

/* Individual Food Page */

/* Left Side */
.showContent {
    display: flex;
    flex-wrap: wrap;
}

.header img {
    position: relative;
    z-index: 1;
}

.showFoodContentContainer {
    display: flex;
    width: 50%;
    height: 750px;
    justify-content: center;
    align-items: center;
}

.showSwiperContainer {
    width: 45%;
}

.swiper-container {
    width: 100%;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.gallery-top {
    height: 300px;
    width: 100%;
    margin-top: 20%;
}

.gallery-top .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-details {
    height: 200px;
}

.gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
    height: 100%;
    opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

.showFoodContent:hover .showFoodContentText {
    z-index: 2;
}

.showFoodContentText {
    display:flex;
    position: absolute;
    background-color: rgba(20, 20, 20, 0.801);
    height: 400px;
    width: 400px;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    flex-wrap: wrap;
}

.showFoodContentText span {
    padding: 0px 20px;
}

.edit {
    background-color: rgb(66, 252, 205);
    font-size: 1.2rem;
    width: 140px;
    height: 60px;
    font-weight: bold;
    border-radius: 15px;
}

.edit:hover {
    background-color: rgb(148, 255, 228);
}

.delete {
    background-color: rgb(247, 55, 55);
    width: 140px;
    height: 60px;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 15px;
}

.delete:hover {
    background-color: rgb(255, 128, 128);
}

.deleteConfirmationText {
    display: none;
    width: 100%;
    color: rgb(255, 95, 95);
    font-weight: bold;
    font-size: 1.4rem;
}

.deleteConfirmationBox {
    display: none;
}

.deleteConfirmationBox span {
    padding: 0px 10px;
}

.deleteYes {
    background-color: rgb(66, 252, 205);
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 15px;
    width: 80px;
    height: 40px;
}

.deleteYes:hover {
    background-color: rgb(148, 255, 228);
}

.deleteNo {
    background-color: rgb(247, 55, 55);
    width: 80px;
    height: 40px;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 15px;
}

.deleteNo:hover {
    background-color: rgb(255, 128, 128);
}

.showFoodContentContainer .header {
    text-align: center;
}

.showFoodContentContainer .header h2 {
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
}

.showFoodContentContainer .body {
    width: 70%;
    margin: auto;
}

.flexRow {
    display: flex;
}

.flexRow p {
    width: 100px;
}

.flexRow span {
    flex-grow: 1;
    text-align: right;
    flex-wrap: wrap;
}

/* Right Side */

.showShopContent {
    width: 50%;
    
}

.sameShopFood {
    padding: 10px 20px;
    height: 750px;
    align-items: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.sameShopFood img {
    border-radius: 50%;
}

.shopName {
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
}

/* New Food Spot */

.newHeaderContainer {
    font-size: 1.6rem;
    margin-left: 3%;
    font-weight: bold;
    width: 500px;
    height: 40px;   
    line-height: 40px;
    text-align: center;    
    position:relative;
}

#newFoodSpot {
    position: relative;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top: 1px solid rgb(158, 158, 158);
    border-left: 1px solid rgb(158, 158, 158);
    border-right: 1px solid rgb(158, 158, 158);
    padding: 6px 25px;
    z-index: 3;
    background-color: rgb(255, 255, 255);
}

.inputForNewFood {
    z-index: 1;
}

.inputForNewShop {
    display: none;
}

#newShop {
    position: relative;
    right: 25px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top: 1px solid rgb(158, 158, 158);
    border-left: 1px solid rgb(158, 158, 158);
    border-right: 1px solid rgb(158, 158, 158);;
    padding: 5px 25px;
    z-index: 0;
    background-color: rgb(240, 240, 240);
}

.flexContainer {
    display: flex;
    justify-content: space-between;
}

.flexCenterContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.formContainer {
    display: flex;
    width: 100%;
    height: 880px;
}

.inputFields {
    position:relative;
    z-index: 2;
    width: 55%;
    border: 1px solid rgb(61, 61, 61, 0.432);
    box-shadow: 2px 10px 10px rgba(61, 61, 61, 0.432);
    border-radius: 20px;
    padding: 20px;
    background-color: white;
}

.displayShopItems {    
    position: relative;
    width: 30%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    top: 5%;
    height: 85%;
    padding: 20px 40px;
    border-top: 1px solid rgb(61, 61, 61, 0.432);
    border-bottom: 1px solid rgb(61, 61, 61, 0.432);
    border-right: 1px solid rgb(61, 61, 61, 0.432);
    box-shadow: 5px 10px 10px rgba(61, 61, 61, 0.432);
    background-color: white;
    animation-name: slideFromLeft;
    animation-duration: 1s;
}

.displayShopItems h2 {
    margin-bottom: 10px;
}

.shopFoodContent {
    display: none;
    position: relative;
    animation-duration: 1s;
    right: 350px;
    z-index: 1;
}

.shopItemRow {
    position: relative;
    display: flex;
    margin-bottom: 5px;
    height: 30px;
    line-height: 30px;
    vertical-align: center;
    padding-left: 10px;
    box-shadow: 0px 2px 4px rgba(61, 61, 61, 0.432);
    z-index: 2;
}

.shopItemRow:hover {
    background-color: rgba(157, 223, 250);
    cursor: pointer;
}

.shopItemRow span {
    width: 40%;
}

.shopItemRowStars {
    width: 110px;
    margin-left: 20px;
}

.shopItemRowStars img {
    margin-top: 5px;
}

.shopItemRowArrowDown {
    flex-grow: 1;
    text-align: right;
    padding-right: 20px;
}

.shopItemRowArrowDown img {
    width: auto;
    height: 8px;
}

.newShowFoodContent {
    display: flex;
    position: relative;
    align-items: center;
    animation-duration: 0.3s;
    z-index: 1;
    height: 0px;
    overflow: hidden;
}

.newShowFoodContent .body {
    flex-grow: 1;
    margin-left: 5px;    
}

.newLeftSide {
    padding-bottom: 50px;
}

.inputRow {    
    margin-bottom: 20px;
}

.inputRow .labelHead {
    display: inline-block;
    line-height: 30px;
    font-weight: bold;
    vertical-align: center;
    width: 100px;
    height: 30px;
    padding-left: 10px;
}

.centerLabelHead {
    display: block;
    line-height: 30px;
    font-weight: bold;
    width: 100%;
    height: 30px;
}

.inputRow .textInput {
    height: 28px;
    width: 220px;
    border-radius: 3%;
    border: 1px solid rgba(0, 0, 0, 0.295);
    padding-left: 10px;
}

.selectInput {
    height: 30px;
    width: 232px;
    border-radius: 3%;
    border: 1px solid rgba(0, 0, 0, 0.295);
    padding-left: 10px;
}

.fileInput {
    width: 400px;
    height: 400px;
    border: 1px solid rgba(0, 0, 0, 0.295);
    border-radius: 2%;
}

.eachType {
    width: 140px;
    height: 40px;
    text-align: center;
    margin: auto;
    align-items: center;
}

.eachType label {
    margin-left: 5px;
}

.typeContainer {
    display: flex;
    flex-wrap: wrap;
}

.newCancelButton {
    display: inline-block;
    width: 120px;
    height: 40px;
    background-color: rgb(255, 90, 90);
    border-radius: 3%;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.4);
    font-weight:bold;
}

.newIntroduceButton {
    display: inline-block;
    width: 120px;
    height: 40px;
    background-color: rgb(120, 255, 120);
    border-radius: 3%;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.4);
    font-weight:bold;
}

.newButtonRow {
    display: flex;
    padding-bottom: 10px;
    justify-content: flex-end;
    width: 100%;
}

#editFoodSpot {
    position: relative;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 6px 25px;
    z-index: 1;
    background-color: rgb(255, 255, 255);
}

.editHeaderContainer {
    font-size: 1.6rem;
    margin-left: 3%;
    font-weight: bold;
    height: 40px;   
    line-height: 40px; 
    position:relative;
    z-index: 3;
}

.errorMessage {
    color: rgb(255, 50, 50);
}

.errorDetails {
    color: rgb(255, 136, 0);
}

/* Footer */

footer {
    background-color: rgb(39, 39, 39);
    width: 100%;
}

.about {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.about h2 {
    margin-bottom: 10px;
    border-bottom: 3px solid rgb(221, 221, 221);
}

.about p {
    font-size: 0.8rem;
}

.footerContent {
    color: rgb(221, 221, 221);
    width: 70%;
    margin: auto;
}

.footerElements{
    display: flex;
    padding: 20px 0px;
}

.mediaLinks {
    display: flex;
    flex-grow: 1;
    height: 50px;
    align-items: center;
    justify-content: flex-end;
}

.mediaLinks img {
    width: 35px;
    height: 35px;
    margin-left: 20px;
    transition: 0.2s;
}

.mediaLinks img:hover {
    width: 40px;
    height: 40px;
}

.copyright {
    font-weight: bold;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(165, 165, 165);
    padding: 15px;
    color: rgb(165, 165, 165)
}

@media only screen and (max-width: 1400px) {
    .searchOption {
        flex-basis: 48%;
    }
}

@media only screen and (max-width: 800px) {
    .searchOption {
        flex-basis: 98%;
    }
}