<div class="contentHead">
    <h2>All Food</h2>
</div>

<%- include('../partials/filterSearchBar.ejs') %>

<div class="allFoodContent">
    <% foods.forEach(food => { %>
        <%- include('../partials/foodElementLink.ejs', {food: food}) %>
    <% }) %>
</div>