<script defer src="/javascripts/show.js"></script>
<div class="showContent">
    <div class="showFoodContentContainer">
        <%- include('../partials/individualFoodElement') %>
    </div>

    <div class="showShopContent">
        <div class="shopName">
            <h2>Other food items from: <%=food.shopName.shopName%></h2>
        </div>
        <div class="sameShopFood">
        <% sameShop.forEach(sameShopFood => { %>
            
            <%- include('../partials/foodElementLink.ejs', {food: sameShopFood}) %>
            
        <% }) %>
        </div>
    </div>
</div>